<h1>Dinosaurs</h1>

<div class="main_list">
<ul>
  <% @dinosaurs.each do |dinosaur| %>
      <li><p><%= link_to dinosaur.name, dinosaur_path(dinosaur.id) %></p><li>
  <% end %>
</ul>
</div>


<hr>
<footer>
<%= link_to "[New Dinosaur]", new_dinosaur_path %>
</footer>
